// Define a color palette
$pokemon-red: #ff1a1a;
$pokemon-white: #ffffff;
$pokemon-black: #000000;

$color-primary: #ff5a5f; // for non-heading text
$color-secondary: #00a699;
$color-background: #f7f7f7; // A soft background color
$color-text: #484848; // Primary text color
$color-text-secondary: #767676; // Secondary text color

// Define breakpoints for responsive design
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
